@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-500.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/roboto-v27-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v27-latin-700.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: 
         url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), 
         url('../fonts/roboto-v27-latin-900.woff') format('woff'); 
  }
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    font-family: 'Roboto',"Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.site-header{
    background: #fff;
}
.header-container{
    max-width: 1183px;
    margin-left: 149px;
}
.site-nav{
    display: flex;
    margin-top: 40px;
}
.site-logo{
    margin-top: 5px;
    margin-right: 175px;
}
.nav-list{
    display: flex;
   
}
.nav-item{
    list-style-type: none;
    margin-right: 50px;
    font-size: 17px;
    white-space: nowrap;
}
.nav-link{
    text-decoration: none;
    color:#373737;
    font-weight: 500;
    font-size: 17px;
}
.last-nav-item{
    margin-left: 20px;
    border: 2px solid #717CFF;
    padding: 9px 33px 10px 32px;
    margin-top: -10px;
    border-radius: 15px;
    list-style: none;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-item::after {
    margin-top: 10px;
    content: "";
    width: 0px;
    display: block;
    height: 2px;
    background-color: #717CFF;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 50%;
    transition: width .3s;
}
.help{
    background-image: url("images/student-woman.png");
    background-repeat: no-repeat;
    background-position: calc(66% + 570px) 3px;
    padding-bottom: 59px;
}
.help-container{
    margin-left: 148px;
    margin-top: 127px;
    
}
.help-text__heading{
    max-width: 532px;
    font-size: 56px;
    line-height: 66px;
    font-weight: 900;
}
.help-text__span{
    color: #717CFF;
}
.help-text__paragraph{
    max-width: 630px;
    color: #7D7D7D;
    font-size: 22px;
    line-height: 38px;
}
.help-text__link{
    text-decoration: none;
    background-color: #717CFF;
    color: #fff;
    padding: 12px 90px 12px 34px;
    border-radius: 15px;
    position: relative;
}
.help-text__link::after{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/arrow-right.svg");
    width: 29px;
    height: 26px;
    background-size:contain;
    top: 7px;
    right: 15px;
    transition: ease 0.2s;
}
.help-social{
    margin-top: 101px;
    display: flex;
    list-style: none;
}
.help-social__icon{
    margin-right: 23px;
    text-decoration: none;
}
.universities-section{
    padding: 55px 0;
    background-color: #FAFAFA;
 
}
.universities__container{
    position: relative;
}
.university-title{
    margin: 0;
    margin-bottom: 94px;
    font-weight: 500;
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
}

.universities-brands{
    display: flex;
    align-items: center;
}
.university__link img{
    display: block;
}
.university__link:not(:last-child) img{
    margin-right: 74px;
}
.slider {
    position: relative;
    width: 1260px;
    height: 200px;
    margin: 50px auto;
    overflow: hidden;
}
.slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
  }
  
.slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider-controls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.318837);
    transition: background-color 0.2s linear;
  }

.slider-controls label:not(:last-child){
    margin-right: 30px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"] {
    background-color: #717CFF;
}
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #717CFF;
}
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #717CFF;
}
#btn-4:checked ~ .slider-controls label[for="btn-4"] {
    background-color: #717CFF;
  }

.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
  .slide-image img {
    max-width: 100%;
  }
  
  /* Slide animations */
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  #btn-4:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  #btn-4:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  .slide img{
      display: block;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      opacity: 1;
    }
  
    50% {
      transform: translatex(50%);
      opacity: 0;
    }
  
    100% {
      transform: translatex(100%);
    }
  }
/**services**/
.services-container{
    max-width: 1183px;
    margin: 0 auto;
}
.services-heading{
    font-size: 37px;
    font-weight: 700;
    color:#373737;
    line-height: 54px;
    letter-spacing: -0.46px;
    text-align: center;
    margin-top: 134px;
}
.services-paragraph{
    font-size: 22px;
    line-height: 32px;
    color: #7D7D7D;
    font-weight: 500;
    text-align: center;
    max-width: 949px;
    margin: 0 auto;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 116px;
}
.services-list-item{
    max-width: 296px;
    list-style: none;
    padding: 135px 17px 30px 31px;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 47px;
    margin-bottom: 56px;
    border-radius: 10px;
    overflow: hidden;
}
.services-item:not(:nth-child(3n)) img{
    margin-right: 47px;
}
.services-list-heading{
    color: #37474F;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin: 0;
}
.services-list-paragraph{
    color: #7D7D7D;;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 20px;

}
.career::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/radar.png");
    width: 76px;
    height: 76px;
    background-size:contain;
    top: 27px;
    right: 185px;
    transition: ease 0.2s;
}
.admission::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/admission.png");
    width: 76px;
    height: 76px;
    background-size:contain;
    top: 27px;
    right: 185px;
    transition: ease 0.2s;
}
.consulting::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/checked.png");
    width: 76px;
    height: 76px;
    background-size:contain;
    top: 27px;
    right: 185px;
    transition: ease 0.2s;
}
.accomodation::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/home.png");
    width: 76px;
    height: 76px;
    background-size:contain;
    top: 27px;
    right: 185px;
    transition: ease 0.2s;
}
.departure::before{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/airplane.png");
    width: 76px;
    height: 76px;
    background-size:contain;
    top: 27px;
    right: 185px;
    transition: ease 0.2s;
}
.services-list-link{
    color: #717CFF;
    text-decoration: none;
    font-weight: 700;
   
}
.services-list-link::after{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("images/arrow-right.svg");
    width: 24px;
    height: 24px;
    background-size:contain;
    right: 140px;
    transition: ease 0.2s;
}
.news{
    background-color: #FAFAFA;
    padding-bottom: 120px;
}
.news-heading{
   padding-top: 102px;
  
   font-size: 37px;
   line-height: 54px;
   color: #373737;
   text-align: center;
}
.news-container{
    max-width: 1183px;
    margin-left: 148px;   
}
.news-cards{
    margin-top: 119px;
    display: flex;
}
.news-paragraph{
    color: #7D7D7D;
    width: 949px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
}
.news-cards-item{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 344px;
    margin: 0 46px 0 0;
    padding: 0;
    padding-bottom: 62px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}
.news-cards-item::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 344px;
    height: 224px;
    margin-bottom: 28px;
}
.water::before{
    background-image: url("images/art-left.png");
}
.trump::before{
    background-image: url("images/art-woman-center.png");
}
.animal::before{
    background-image: url("images/art-right.png");
}
time{
    display: inline-flex;
    align-items: center;
    padding-left: 26px;
}
time::before{
    content: "";
    display: block;
    background-image: url("images/calendar.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 12px;
}
.news-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding: 0 26px;
    margin-top: 10px;
}
.join-link{
    display: flex;
    justify-content: center;
    margin-top: 146px;
}
.news-join-link{
    max-width: 226px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 34px;
    text-decoration: none;
    background: #717CFF;
    border-radius: 11px;
    color: #FFFFFF;
}
.news-join-link::after{
    content: "";
    display: block;
    background-image: url("images/arrow-right.svg");
    background-repeat: no-repeat;
    width: 29px;
    height: 26px;
    margin-left: 36px;
}






